.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .elt {
    min-height: 150px;
    max-height: 100%;
  }

  @for $i from 1 through 5 {
    .flex-#{$i} {
      flex: $i;
    }
  }

  @for $i from 1 through 400 {
    .min-width-#{$i} {
      min-width: #{$i}px;
      max-width: 100%;
    }
  }
}
